:root {
    --sidebar-background-color: rgb(93, 93, 255);
    --header-background-color: rgb(255, 149, 149);
    --content-background-color: aquamarine;
    --grid-item-background-color: pink;
    --content-padding: 16px;
    --button-border-color: blue;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    color: aliceblue;
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 6fr;
}

.sidebar {
    background-color: var(--sidebar-background-color);
    grid-row: 1 / span 2;

    display: grid;
    grid-template-rows: 1fr 4fr 12fr;
}

.logo-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.logo {
    justify-self: center;
}

.logo-container>h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

.header {
    background-color: var(--header-background-color);
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header .top {
    display: flex;

    align-items: center;
    gap: 32px;
    margin-right: 64px;
}

.top>form {
    display: grid;
    grid-template-columns: 1fr 7fr;
    padding: 16px;
    gap: 8px;
    flex: 2;
}

img.search-icon {
    justify-self: right;
}

.search-bar {
    border-radius: 12px;
    border: 1px solid brown;
    padding: 0 8px;
}

.account-display {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    flex: 1;
}

.account-avatar {
    height: 48px;
}

.account-name-top {
    font-weight: bold;
}

.header .bottom {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.welcome-container {
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    gap: 16px;
}

.welcome-avatar {
    justify-self: right;
    height: 48px;
}

.welcome-message {
    align-items: left;
}

.welcome-message>p {
    font-weight: bold;
}

.account-name {
    font-weight: bold;
    font-size: 1.4rem;
}

.upload-button-container {
    display: flex;
    justify-content: space-between;
    margin-right: 64px;
    margin-left: 54px;
}

.upload-button-container>button {
    width: 80px;
    padding: 6px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

    border: 1px solid var(--button-border-color);
    background-color: var(--sidebar-background-color);
    color: aliceblue;
}

.content {
    background-color: var(--content-background-color);
}

.content {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 16px;
    padding: var(--content-padding);
}

.your-projects {
    background-color: brown;
    grid-row: 1 / span 2;
    padding: var(--content-padding);
}

.announcements {
    background-color: rgb(168, 137, 0);
    padding: var(--content-padding);
}

.trending {
    background-color: rgb(26, 23, 194);
    padding: var(--content-padding);
}

.trending-container>img {
    height: 48px;
}

.your-projects-grid {
    display: grid;
    gap: 32px;
    /* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat(2, 1fr); */
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
    background-color: var(--grid-item-background-color);
    height: 200px;
    padding: 24px;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    align-items: center;
}

.card-heading {
    font-size: 1.2rem;
    font-weight: bold;
}

.content h2 {
    margin-bottom: var(--content-padding);
}

.icons {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    justify-items: right;
}