@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --sidebar-background-color: #155E75;
    --header-background-color: #0E7490;
    --content-background-color: #164E63;
    --grid-item-background-color: #0E7490;
    --content-padding: 16px;
    --button-border-color: none;
    --box-shadow-color: rgba(0, 0, 0, 0.288);
    --button-color: #65A30D;
    --searchbar-border-color: #06B6D4;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    color: aliceblue;
}

.card,
.announcements-container,
.trending-container,
.header {
    box-shadow: 3px 3px 3px var(--box-shadow-color);
    z-index: 1;
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 6fr;
}

.sidebar {
    background-color: var(--sidebar-background-color);
    grid-row: 1 / span 2;
    padding-top: 16px;
    display: grid;
    grid-template-rows: 1fr 8fr 10fr;
    font-family: 'Roboto', sans-serif;
}

.logo-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.logo {
    justify-self: center;
}

.logo-container>h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

.function-menu {
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    font-size: 1.2rem;
    padding-right: 16px;
}

.function-menu>li {
    align-self: center;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 28px;
}

.header {
    background-color: var(--header-background-color);
    display: grid;
    grid-template-rows: 1fr 1fr;
    font-family: 'Roboto', sans-serif;
}

.header .top {
    display: flex;

    align-items: center;
    gap: 32px;
    margin-right: 64px;
}

.top>form {
    display: grid;
    grid-template-columns: 1fr 7fr;
    padding: 16px;
    gap: 8px;
    flex: 2;
}

img.search-icon {
    justify-self: right;
}

.search-bar {
    border-radius: 12px;
    border: 1px solid var(--searchbar-border-color);
    padding: 0 8px;
    background: var(--content-background-color);
    color: aliceblue;
}

.account-display {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    flex: 1;
}

.account-avatar {
    height: 48px;
}

.account-name-top {
    font-weight: bold;
}

.header .bottom {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.welcome-container {
    display: grid;
    grid-template-columns: clamp(64px, 10%, 10%) 90%;
    align-items: center;
    gap: 16px;
}

.welcome-avatar {
    justify-self: right;
    height: 48px;
}

.welcome-message {
    align-items: left;
}

.welcome-message>p {
    font-weight: bold;
}

.account-name {
    font-weight: bold;
    font-size: 1.4rem;
}

.upload-button-container {
    display: flex;
    justify-content: space-between;
    margin-right: 64px;
    margin-left: 54px;
    gap: 16px;
}

.upload-button-container>button {
    width: 96px;
    padding: 8px 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border: 1px solid var(--button-border-color);
    background-color: var(--button-color);
    color: aliceblue;
    box-shadow: 2px 2px 2px var(--box-shadow-color);
}

.content {
    background-color: var(--content-background-color);
    font-family: 'Roboto', sans-serif;
}

.content {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 16px;
    padding: var(--content-padding);
}

.your-projects {
    grid-row: 1 / span 2;
    padding: var(--content-padding);
}

.your-projects-grid {
    display: grid;
    gap: 32px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.your-projects > h2 {
    font-weight: bold;
}

.announcements {
    padding-top: var(--content-padding);
    display: flex;
    flex-direction: column;
}

.announcements > h2 {
    font-weight: bold;
}

.announcements strong {
    font-weight: bold;
}

.announcements-container {
    display: grid;
    height: 100%;
    gap: var(--content-padding);
    background-color: var(--grid-item-background-color);
    font-size: 0.9rem;
    padding: var(--content-padding);
}

.announcements-container>section {
    grid-row: 1fr;
}

.announcement-heading {
    padding-bottom: 8px;
}

.announcement-description {
    padding-bottom: var(--content-padding);
}

.trending {
    padding-top: var(--content-padding);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.trending > h2 {
    font-weight: bold;
}

.trending-container {
    display: grid;
    background-color: var(--grid-item-background-color);
    height: 100%;
    padding: var(--content-padding);
    grid-template-columns: 1fr 4fr;
    gap: var(--content-padding);
    font-size: 0.9rem;
}

.trending-handle strong {
    font-weight: bold;
}

.trending-handle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}

.trending-container>img {
    height: 48px;
    align-self: center;
}



.card {
    background-color: var(--grid-item-background-color);
    height: 250px;
    padding: 24px;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    align-items: center;
}

.card-heading {
    font-size: 1.2rem;
    font-weight: bold;
}

.content h2 {
    margin-bottom: var(--content-padding);
}

.icons {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    justify-items: right;
}